.vscode/**
.vscode-test/**
.github/**
out/**
node_modules/**
src/**
packages/**
scripts/**
.npmrc
.gitignore
.yarnrc
esbuild.js
fix-*.mjs
*.vsix
dist/*.vsix
pnpm-lock.yaml
pnpm-workspace.yaml
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
